.background{
    background-image: url("../images/loginBack.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.loginForm{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20%;
    height: 50%;
    background: rgba(255,255,255,0.7);
    padding: 100px 40px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: calc(50% - 100px);
}
.loginForm h1{
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
}
.loginForm p{
    font-weight: bold;
    font-size: 20px;
}
span{
    font-size: 10px;
}
.loginForm input{
    width: 100%;
}
.loginForm input[type="text"],
.loginForm input[type="password"]{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 18px;
}
::placeholder{
    color: rgba(0,0,0,0.7);
}
.loginForm input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    font-size: 20px;
    background: #ff267e;
    cursor: pointer;
    color: white;
}
.loginForm input[type="submit"]:hover{
    background: rgba(255,255,255,0.7);
    color: #262626;
    transition: 2s;
}
#typetable{
    height:10px;
}
#typetable tr td{
    padding: 0 5px;
    line-height: 25px;
}
#space input{
    width: 10%;
}
#space span{
    font-size: 16px;
}
.loginForm .flush{
    color: red;
    font-size: 15px;
}


@media screen and (max-width: 1000px) {
    .loginForm{
        width: 80%;
    }
}