.background{
    min-height: 100%;
    height: 100%;
}
body{
    background-image: url("../images/profile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
.container{
    height: 100%;
}
#profileDiv{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
}