<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--条件注释语句,当满足if语句时则执行-->


<html lang="en">
<!--<![endif]-->
    <head>
        <meta charset="utf-8"><!--编码格式-->
      {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Lazy boy</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/topBar.css') }}">
        <script src="{{ url_for('static',filename='scripts/jquery.js') }}"></script>

    <!--引用js文件-->
        <script src="{{ url_for('static',filename='scripts/jquery-1.8.2.min.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/common.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/jquery.easing.1.3.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/ddsmoothmenu.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/jquery.flexslider.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/jquery.elastislide.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/jquery.jcarousel.min.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/jquery.accordion.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/light_box.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/html5.js') }}"></script>
        <script type="text/javascript">$(document).ready(function(){$(".inline").colorbox({inline:true, width:"50%"});});</script>
    <!--end js-->



    <!-- CSS ================导入外部样式表================================== -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/orange.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/skeleton.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/layout.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/ddsmoothmenu.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/elastislide.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/home_flexslider.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/light_box.css') }}">
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
    </head>
    <body>
    <div class="topBar">
            <div class="container">
                 <div class="topBar_blocks">
                    <a href="#">Basketball</a>
                    <span>|</span>
                    <a href="#">Soccer</a>
                    <span>|</span>
                </div>

                <div class="topBar_mine">
                    <a id='profile' href="#">My Account</a>
                </div>

                <div class="topBar_user">
                    <a href="#">Home</a>
                    <span>|</span>
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>

        <div class="background">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>

        <div class="footer">
            <div class="footerContact">Contact Me Using Wechat: h2240073347</div>
            <div class="footerSign">Copyright &copy; 2020.Blizzard All rights reserved.</div>
        </div>
    </body>
</html>

