{% extends "baseLogged.html" %}

{% block content %}
     <link rel="stylesheet" href="{{ url_for('static',filename='scripts/choice.css') }}">
    <script src="{{ url_for('static',filename='scripts/choice.js') }}"></script>
	<h1>Welcome! Dear <span id="username">{{user.username}}</span></h1>
	<p><b>We Have Six Section For You!</b>
		<div class="section" id="basketball">
            <div>
                <img src="../static/images/basketball.png" alt="">
                <span class="title">Like NBA? Need partner?</span>
                <a class="aa" href="{{ url_for('basketball') }}">More Detail></a>
            </div>
            <div class="switch">
                <span class="discussionPart">Discussion</span>
                <span class="invitationPart">Invitation</span>
            </div>
            <hr>
            <ol class="discussionOl">
                {% for b in basketballs %}
                    <li>
                        {{ b.headline }}
                    </li>
                {% endfor %}
            </ol>
            <ol class="invitationOl">
                {% for b in basketballsI %}
                    <li>
                        {{ b.headline }}
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="section" id="soccer">
            <div>
                <img src="../static/images/soccer.png" alt="">
                <span class="title">World Cup! Messi!</span>
                <a class="aa" href="{{ url_for('soccer') }}">More Detail></a>
            </div>
            <div class="switch">
                <span class="discussionPart">Discussion</span>
                <span class="invitationPart">Invitation</span>
            </div>
            <hr>
            <ol class="discussionOl">
                {% for b in soccers %}
                    <li>
                        {{ b.headline }}
                    </li>
                {% endfor %}
            </ol>
            <ol class="invitationOl">
                {% for b in soccersI %}
                    <li>
                        {{ b.headline }}
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="section" id="badminton">
            <div>
                <img src="../static/images/badminton.png" alt="">
                <span class="title">Join us play badminton!</span>
                <a class="aa" href="{{ url_for('badminton') }}">More Detail></a>
            </div>
            <div class="switch">
                <span class="discussionPart">Discussion</span>
                <span class="invitationPart">Invitation</span>
            </div>
            <hr>
            <ol class="discussionOl">
                {% for b in badmintons %}
                    <li>
                        {{ b.headline }}
                    </li>
                {% endfor %}
            </ol>
            <ol class="invitationOl">
                {% for b in badmintonsI %}
                    <li>
                        {{ b.headline }}
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="section" id="table">
            <div>
                <img src="../static/images/table.png" alt="">
                <span class="title">Beat your neighbours!</span>
                <a class="aa" href="{{ url_for('table') }}">More Detail></a>
            </div>
            <div class="switch">
                <span class="discussionPart">Discussion</span>
                <span class="invitationPart">Invitation</span>
            </div>
            <hr>
            <ol class="discussionOl">
                {% for b in tables %}
                    <li>
                        {{ b.headline }}
                    </li>
                {% endfor %}
            </ol>
            <ol class="invitationOl">
                {% for b in tablesI %}
                    <li>
                        {{ b.headline }}
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="section" id="tennis">
            <div>
                <img src="../static/images/tennis.png" alt="">
                <span class="title">Be nice and play gently</span>
                <a class="aa" href="{{ url_for('tennis') }}">More Detail></a>
            </div>
            <div class="switch">
                <span class="discussionPart">Discussion</span>
                <span class="invitationPart">Invitation</span>
            </div>
            <hr>
            <ol class="discussionOl">
                {% for b in tenniss %}
                    <li>
                        {{ b.headline }}
                    </li>
                {% endfor %}
            </ol>
            <ol class="invitationOl">
                {% for b in tennissI %}
                    <li>
                        {{ b.headline }}
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="section" id="running">
            <div>
                <img src="../static/images/running.png" alt="">
                <span class="title">Lose weight? Right now!</span>
                <a class="aa" href="{{ url_for('running') }}">More Detail></a>
            </div>
            <div class="switch">
                <span class="discussionPart">Discussion</span>
                <span class="invitationPart">Invitation</span>
            </div>
            <hr>
            <ol class="discussionOl">
                {% for b in runnings %}
                    <li>
                        {{ b.headline }}
                    </li>
                {% endfor %}
            </ol>
            <ol class="invitationOl">
                {% for b in runningsI %}
                    <li>
                        {{ b.headline }}
                    </li>
                {% endfor %}
            </ol>
        </div>

	</p>
{% endblock %}