{% extends "baseLogged.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='scripts/main.css') }}">
    <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
    <div class="main">
        {% block head %}
        {% endblock %}
        <div id="selector">
            <span id="invitation">Invitations</span>
            <span id="discussion">Discussions</span>
        </div>
        <div class="invitations">
            {% block invitation %}
            {% endblock %}
            <table>
                <tr>
                    <th>Headline</th>
                    <th>Venue</th>
                    <th>Date</th>
                </tr>
                {% for x in invitations %}
                    <tr>
                        <td><a href="{{ url_for('invitationDetail',id=x.id) }}">{{ x.headline }}</a></td>
                        <td class="need">{{ x.venue }}</td>
                        <td class="need">{{ x.date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="discussions">
            {% block discussion %}
            {% endblock %}
            <table>
                <tr>
                    <th>Headline</th>
                    <th>Discussion Type</th>
                </tr>
                {% for y in discussions %}
                    <tr>
                        <td><a href="{{ url_for('discussionDetail',id=y.id) }}">{{ y.headline }}</a></td>
                        {% if y.kind == '0' %}
                            <td class="need">Sports Match Discussion</td>
                        {% else %}
                            <td class="need">Experience Sharing</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>

        </div>

    </div>
{% endblock %}
