<!DOCTYPE html>
<html lang="en">
<head>
    <title>Modify a Flower</title>
    <meta charset="UTF-8" />
    <meta name="author" content="order by dede58.com"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/static/css/colorpicker.css" />
    <link rel="stylesheet" href="/static/css/datepicker.css" />
    <link rel="stylesheet" href="/static/css/uniform.css" />
    <link rel="stylesheet" href="/static/css/select2.css" />
    <link rel="stylesheet" href="/static/css/unicorn.main.css" />
    <link rel="stylesheet" href="/static/css/unicorn.grey.css" class="skin-color" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>


<div id="header">
    <h1><a href="./dashboard.html">{{ _('UniAdmin') }}</a></h1>
</div>

<div id="search">
    <input type="text" placeholder="请输入搜索内容..." /><button type="submit" class="tip-right" title="Search"><i class="icon-search icon-white"></i></button>
</div>
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav btn-group">
        <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-user"></i> <span class="text">{{ _('Personal datails') }}</span></a></li>
        <li class="btn btn-inverse dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">{{ _('Message') }}</span> <span class="label label-important">5</span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a class="sAdd" title="" href="#">{{ _('New Messages') }}</a></li>
                <li><a class="sInbox" title="" href="#">{{ _('Inbox') }}</a></li>
                <li><a class="sOutbox" title="" href="#">{{ _('Outbox') }}</a></li>
                <li><a class="sTrash" title="" href="#">{{ _('Send') }}</a></li>
            </ul>
        </li>
        <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">{{ _('Settings') }}</span></a></li>
        <li class="btn btn-inverse"><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">{{ _('Logout') }}</span></a></li>
    </ul>
</div>


        {% extends "SideBar.html" %}

		{% block after %}



<div id="content">
    <div id="content-header">
        <h1>{{ _('Modify Flower form') }}</h1>
        <div class="btn-group">
            <a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
            <a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
            <a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
            <a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
        </div>
    </div>
    <div id="breadcrumb">
        <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>{{ _('Home') }} </a>
        <a href="#" class="current">{{ _('Modify flower') }}</a>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
								<span class="icon">
									<i class="icon-info-sign"></i>
								</span>
                        <h5>{{ _('Detailed information') }}</h5>
                    </div>

<!--                              modify hereeeeeeeee<mo></mo>-->

                    <div class="widget-content nopadding backgroundA">
                        <form  action="{{ url_for('Modify', flower_id=flower.id) }}" class="form-horizontal formA" name="just_validate" id="just_validate" novalidate="novalidate" enctype="multipart/form-data" />
                        <div class="control-group">
                            <label class="control-label">{{ _('Flowers name') }}</label>
                            <div class="controls">
                                <input type="text" id="req" name="name" placeholder="entered the flowers name here" value="{{ flower.name }}"/>
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">{{ _('Flower meaning') }}</label>
                            <div class="controls">
                                <input type="text" name="mean" placeholder="describe the metaphor of the flower here (like honest loyal diligent)" value="{{ flower.meaning }}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{ _('Flower detail') }}</label>
                            <div class="controls">
                                <textarea type="text" name="detail" placeholder="Maybe it is a bunch of flower" > {{ flower.intro }}</textarea>
                                <span class="help-block">{{ _('such as the color flavour or ingredient') }}</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ _('Upload photo') }}</label>
                            <div class="controls">
                                <img src="/static/images/{{ flower.img }}" id="pic" alt="" width="150px" height="150px">
                                <input type="file" id="photos" name="photos" multiple="multiple" value="{{ flower.img }}" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label labelA">{{ _('Flower Price') }}</label>
                            <div class="controls">
                                <input type="text" name="price" placeholder="enter the price here" content="zz" value="{{ flower.price }}"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ _('Inventory number') }}</label>
                            <div class="controls">
                                <input type="text" name="avail" placeholder="the number of available flowers in the warehouse" value="{{ flower.number }}"/>
                                <span class="help-block">0~99</span>
                            </div>
                        </div>



                        <div class="form-actions">
                            <button type="submit" value="Validate" class="btn btn-primary conflower" onclick="confirm()">{{ _('Confirm') }}</button>
                            <button type="submit" value="Validate" class="btn btn-danger deflower" onclick="Fdelete()">{{ _('Delete') }}</button>

                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div id="footer" class="span12">
                2021 &copy; Group15 BliZZard</div>
        </div>
    </div>
</div>

<script>

    var AddActive= document.querySelector('#ModFlower');
    AddActive.className = 'active';


    function confirm() {
        var form = new FormData(document.getElementById("just_validate"))
        form.append('t', 'confirm')
        $.ajax({
            type: "POST",
            url: "{{ url_for('Modify', flower_id=flower.id) }}",
            {#data: $.param({'t': 'confirm'}) + '&' + $("#just_validate").serialize(),#}
            data: form,
            processData: false,
            cache: false,
            contentType: false,
            dataType: 'json'
        })
    }

    function Fdelete() {
        var data1 = {
            d: 'delete'
        }
        $.ajax({
            type: "POST",
            url: "{{ url_for('Delete', flower_id=flower.id) }}",
            data: data1,
            dataType: 'json'
        })
    }

    document.getElementById("photos").addEventListener('change',function () {
        var files = this.files
        var file
        if (files && files.length) {
            file = files[0]
            if (/^image\/png$|jpeg$/.test(file.type)) {
                var reader = new FileReader()
                reader.onload = function (e){
                    document.getElementById("pic").src=e.target.result
                }
                reader.readAsDataURL(file)
            }else {
                alert("jpg or png please")
            }
        }else {
            alert("image file please")
        }
    },false)


</script>

<script src="/static/scripts/jquery.min.js"></script>
<script src="/static/scripts/jquery.ui.custom.js"></script>
<script src="/static/scripts/bootstrap.min.js"></script>
<script src="/static/scripts/bootstrap-colorpicker.js"></script>
<script src="/static/scripts/bootstrap-datepicker.js"></script>
<script src="/static/scripts/jquery.uniform.js"></script>
<script src="/static/scripts/select2.min.js"></script>
<script src="/static/scripts/unicorn.js"></script>
<script src="/static/scripts/unicorn.form_common.js"></script>
<script src="/static/scripts/jquery.validate.js"></script>
<script src="/static/scripts/ModifyFlower.js"></script>
</body>
</html>


{% endblock %}