<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">
    <title>Detail</title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/img/favicon.ico') }}" type="image/x-icon" />

    <!-- Google fonts include -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,900%7CYesteryear"
        rel="stylesheet">

    <!-- All Vendor & plugins CSS include -->
    <link href="{{ url_for('static',filename='css/vendor.css') }}" rel="stylesheet">
    <!-- Main Style CSS -->
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="/oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start Header Area -->
    <header class="header-area">
        <!-- main header start -->
        <div class="main-header d-none d-lg-block">
            <!-- header top start -->
            <div class="header-top bdr-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="welcome-message">
                                <p>Welcome to Blizzard Online Flower Store</p>
                            </div>
                        </div>
                        <div class="col-lg-6 text-right">
                            <div class="header-top-settings">
                                <ul class="nav align-items-center justify-content-end">
                                    <li class="language">
                                        <span>Language:</span>
                                        <img src="{{ url_for('static',filename='images/img/icon/en.png') }}" alt="flag">
                                        English
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="dropdown-list">
                                            <li><a href="#"><img
                                                        src="{{ url_for('static',filename='images/img/icon/en.png') }}"
                                                        alt="flag"> english</a></li>
                                            <li><a href="#"><img
                                                        src="{{ url_for('static',filename='images/img/icon/ch.png') }}"
                                                        alt="flag"> Chinese</a></li>
                                        </ul>
                                    </li>
                                    <li class="curreny-wrap">
                                        <span>Currency:</span>
                                        ¥ CNY
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header top end -->

            <!-- header middle area start -->
            <div class="header-main-area sticky">
                <div class="container">
                    <div class="row align-items-center position-relative">

                        <!-- start logo area -->
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="{{ url_for('index') }}">
                                    <img src="{{ url_for('static',filename='images/img/icon/logo.png') }}" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- start logo area -->

                        <!-- main menu area start -->
                        <div class="col-lg-6 position-static">
                            <div class="main-menu-area">
                                <div class="main-menu">
                                    <!-- main menu navbar start -->
                                    <nav class="desktop-menu">
                                        <ul>
                                            <li><a href="{{ url_for('index') }}">Home</a></li>
                                            <li><a href="{{ url_for('shop') }}">Shop</a></li>
                                            <li><a href="{{ url_for('onlinechat') }}">Contact_Us</a></li>
                                            <li><a href="{{ url_for('about_us') }}">About_Us</a></li>
                                        </ul>
                                    </nav>
                                    <!-- main menu navbar end -->
                                </div>
                            </div>
                        </div>
                        <!-- main menu area end -->

                        <!-- mini cart area start -->
                        <div class="col-lg-3">
                            <div class="header-configure-wrapper">
                                <div class="header-configure-area">
                                    <ul class="nav justify-content-end">
                                        <li>
                                            <a href="#" class="offcanvas-btn">
                                                <i class="lnr lnr-magnifier"></i>
                                            </a>
                                        </li>
                                        <li class="user-hover">
                                            <a href="#">
                                                <i class="lnr lnr-user"></i>
                                            </a>
                                            <ul class="dropdown-list">
                                                <li><a href="{{ url_for('login') }}">login</a></li>
                                                <li><a href="{{ url_for('signup') }}">register</a></li>
                                                <li><a href="{{ url_for('profile') }}">my account</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="minicart-btn1">
                                                <i class="lnr lnr-heart"></i>
                                                <div class="notification" id="length1">{{ lengthlike }}</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="minicart-btn">
                                                <i class="lnr lnr-cart"></i>
                                                <div class="notification" id="length">{{ length }}</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- mini cart area end -->

                    </div>
                </div>
            </div>
            <!-- header middle area end -->
        </div>
        <!-- main header start -->

        <!-- mobile header start -->
        <div class="mobile-header d-lg-none d-md-block sticky">
            <!--mobile header top start -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="mobile-main-header">
                            <div class="mobile-logo">
                                <a href="{{ url_for('index') }}">
                                    <img src="{{ url_for('static',filename='images/img/icon/logo.png') }}"
                                        alt="Brand Logo">
                                </a>
                            </div>
                            <div class="mobile-menu-toggler">
                                <div class="mini-cart-wrap">
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                                <div class="mobile-menu-btn">
                                    <div class="off-canvas-btn">
                                        <i class="lnr lnr-menu"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile header top start -->
        </div>
        <!-- mobile header end -->
    </header>
    <!-- end Header Area -->

    <!-- off-canvas menu start -->
    <aside class="off-canvas-wrapper">
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas-inner-content">
            <div class="btn-close-off-canvas">
                <i class="lnr lnr-cross"></i>
            </div>

            <div class="off-canvas-inner">
                <!-- search box start -->
                <div class="search-box-offcanvas">
                    <form>
                        <input type="text" placeholder="Search Here...">
                        <button class="search-btn"><i class="lnr lnr-magnifier"></i></button>
                    </form>
                </div>
                <!-- search box end -->

                <!-- mobile menu start -->
                <div class="mobile-navigation">

                    <!-- mobile menu navigation start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li><a href="{{ url_for('index') }}">Home</a></li>
                            <li><a href="{{ url_for('shop') }}">Shop</a></li>
                            <li><a href="{{ url_for('onlinechat') }}">Contact_Us</a></li>
                            <li><a href="{{ url_for('about_us') }}">About_Us</a></li>
                        </ul>
                    </nav>
                    <!-- mobile menu navigation end -->
                </div>
                <!-- mobile menu end -->

                <div class="mobile-settings">
                    <ul class="nav">
                        <li>
                            <div class="dropdown mobile-top-dropdown">
                                <a href="#" class="dropdown-toggle" id="currency" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Currency
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="currency">
                                    <a class="dropdown-item" href="#">$ USD</a>
                                    <a class="dropdown-item" href="#">$ EURO</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown mobile-top-dropdown">
                                <a href="#" class="dropdown-toggle" id="myaccount" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    My Account
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="myaccount">
                                    <a class="dropdown-item" href="#">my account</a>
                                    <a class="dropdown-item" href="#"> login</a>
                                    <a class="dropdown-item" href="#">register</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- offcanvas widget area start -->
                <div class="offcanvas-widget-area">
                    <div class="off-canvas-contact-widget">
                        <ul>
                            <li><i class="fa fa-mobile"></i>
                                <a href="#">0123456789</a>
                            </li>
                            <li><i class="fa fa-envelope-o"></i>
                                <a href="#">info@yourdomain.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="off-canvas-social-widget">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
                <!-- offcanvas widget area end -->
            </div>
        </div>
    </aside>
    <!-- off-canvas menu end -->


    <!-- main wrapper start -->
    <main>
        <!-- breadcrumb area start -->
        <div class="breadcrumb-area common-bg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <h1>product details</h1>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ url_for('index') }}"><i
                                                class="fa fa-home"></i></a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">product details</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->

        <!-- page main wrapper start -->
        <div class="shop-main-wrapper section-space">
            <div class="container">
                <div class="row">
                    <!-- product details wrapper start -->
                    <div class="col-lg-12 order-1 order-lg-2">
                        <!-- product details inner end -->
                        <div class="product-details-inner">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="product-large-slider">
                                        <div class="pro-large-img">
                                            <img src="../static/images/{{ flower.img }}" alt="{{ flower.img }}" />
                                        </div>
                                        <div class="pro-large-img">
                                            <img src="../static/images/{{ flower.img1 }}" alt="{{ flower.img1 }}" />
                                        </div>
                                        <div class="pro-large-img img-zoom">
                                            <img src="{{ url_for('static',filename='images/img/product/product-details-img3.jpg') }}"
                                                alt="product-details" />
                                        </div>
                                        <div class="pro-large-img img-zoom">
                                            <img src="{{ url_for('static',filename='images/img/product/product-details-img4.jpg') }}"
                                                alt="product-details" />
                                        </div>
                                        <div class="pro-large-img img-zoom">
                                            <img src="{{ url_for('static',filename='images/img/product/product-details-img5.jpg') }}"
                                                alt="product-details" />
                                        </div>
                                    </div>
                                    <div class="pro-nav slick-row-10 slick-arrow-style">
                                        <div class="pro-nav-thumb">
                                            <img src="../static/images/{{ flower.img }}" alt="product-details" />
                                        </div>
                                        <div class="pro-nav-thumb">
                                            <img src="../static/images/{{ flower.img1 }}" alt="product-details" />
                                        </div>
                                        <div class="pro-nav-thumb">
                                            <img src="{{ url_for('static',filename='images/img/product/product-details-img3.jpg') }}"
                                                alt="product-details" />
                                        </div>
                                        <div class="pro-nav-thumb">
                                            <img src="{{ url_for('static',filename='images/img/product/product-details-img4.jpg') }}"
                                                alt="product-details" />
                                        </div>
                                        <div class="pro-nav-thumb">
                                            <img src="{{ url_for('static',filename='images/img/product/product-details-img5.jpg') }}"
                                                alt="product-details" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="product-details-des">
                                        <h3 class="product-name">{{ flower.name }}</h3>
                                        <div class="ratings d-flex">
                                            <span><i class="lnr lnr-star"></i></span>
                                            <span><i class="lnr lnr-star"></i></span>
                                            <span><i class="lnr lnr-star"></i></span>
                                            <span><i class="lnr lnr-star"></i></span>
                                            <span><i class="lnr lnr-star"></i></span>
                                            <div class="pro-review">
                                                <span>736 Reviews</span>
                                            </div>
                                        </div>
                                        <div class="price-box">
                                            <span class="price-regular">¥ {{ flower.price }}</span>
                                            <span class="price-old"><del>¥ {{ flower.price+10}}</del></span>
                                        </div>
                                        <h5 class="offer-text"><strong>Hurry up</strong>! offer ends in:</h5>
                                        <div class="product-countdown" data-countdown="2021/06/29"></div>
                                        <div class="availability">
                                            <i class="fa fa-check-circle"></i>
                                            <span>{{ flower.number }} in stock</span>
                                        </div>
                                        <p class="pro-desc">{{ flower.intro }}</p>
                                        <div class="quantity-cart-box d-flex align-items-center">
                                            <h5>qty:</h5>
                                            <div class="quantity">
                                                <div class="pro-qty"><input type="text" value="1" id="number_input">
                                                </div>
                                            </div>
                                            <div class="action_link">
                                                <a class="btn btn-cart2" onclick="addTrolley1(100)"
                                                    href="{{ url_for('index') }}">{{ _('Add to cart') }}</a>
                                            </div>
                                        </div>
                                        <div class="pro-size">
                                            <h5>size :</h5>
                                            <select class="nice-select">
                                                <option>S</option>
                                                <option>M</option>
                                                <option>L</option>
                                                <option>XL</option>
                                            </select>
                                        </div>
                                        <div class="color-option">
                                            <h5>color :</h5>
                                            <ul class="color-categories">
                                                <li>
                                                    <a class="c-lightblue" href="#" title="LightSteelblue"></a>
                                                </li>
                                                <li>
                                                    <a class="c-darktan" href="#" title="Darktan"></a>
                                                </li>
                                                <li>
                                                    <a class="c-grey" href="#" title="Grey"></a>
                                                </li>
                                                <li>
                                                    <a class="c-brown" href="#" title="Brown"></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="useful-links">
                                            <a href="#" data-toggle="tooltip" title="Compare"><i
                                                    class="lnr lnr-sync"></i>compare</a>
                                            <a href="#" data-toggle="tooltip" title="Wishlist"><i
                                                    class="lnr lnr-heart"></i>wishlist</a>
                                        </div>
                                        <div class="like-icon">
                                            <a class="facebook" href="#"><i class="fa fa-facebook"></i>like</a>
                                            <a class="twitter" href="#"><i class="fa fa-twitter"></i>tweet</a>
                                            <a class="pinterest" href="#"><i class="fa fa-pinterest"></i>save</a>
                                            <a class="google" href="#"><i class="fa fa-google-plus"></i>share</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product details inner end -->

                        <!-- product details reviews start -->
                        <div class="product-details-reviews section-space pb-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product-review-info">
                                        <ul class="nav review-tab">
                                            <li>
                                                <a class="active" data-toggle="tab" href="#tab_one">description</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#tab_two">information</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#tab_three">reviews ({{ count }})</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content reviews-tab">
                                            <div class="tab-pane fade show active" id="tab_one">
                                                <div class="tab-one">
                                                    <p>{{ flower.intro }}</p>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab_two">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td>color</td>
                                                            <td>black, blue, red</td>
                                                        </tr>
                                                        <tr>
                                                            <td>size</td>
                                                            <td>L, M, S</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane fade" id="tab_three">
                                                <form action="#" class="review-form">
                                                    <h5>{{ count }} review for <span>this product</span></h5>
                                                    <div class="total-reviews">
                                                        {% for r in review %}
                                                        <div class="reviewlist">
                                                            <div class="rev-avatar">
                                                                <img src="/static/images/{{ r.profile.portrait }}"
                                                                    alt="user_img">
                                                            </div>
                                                            <div class="review-box">
                                                                <div class="ratings">
                                                                    {% for i in range(r.rate) %}
                                                                    <span class="good"><i class="fa fa-star"></i></span>
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="post-author">
                                                                    <p><span>{{ r.profile.name }} -</span>
                                                                        {{ r.timestamp.strftime("%Y-%m-%d %H:%M:%S")}}</p>
                                                                </div>
                                                                <p>{{ r.text }}</p>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col">
                                                            <label class="col-form-label"><span
                                                                    class="text-danger">*</span>
                                                                Your Review</label>
                                                            <textarea id='reviewtext' class="form-control"
                                                                required></textarea>
                                                            <div id='flower_id' class='{{ flower.id }}'
                                                                style="display: none;"></div>
                                                            <div class="help-block pt-10"><span
                                                                    class="text-danger">Note:</span>
                                                                HTML is not translated!
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col">
                                                            <label class="col-form-label"><span
                                                                    class="text-danger">*</span>
                                                                Rating</label>
                                                            &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                                            <input type="radio" value="1" name="rating">
                                                            &nbsp;
                                                            <input type="radio" value="2" name="rating">
                                                            &nbsp;
                                                            <input type="radio" value="3" name="rating">
                                                            &nbsp;
                                                            <input type="radio" value="4" name="rating">
                                                            &nbsp;
                                                            <input type="radio" value="5" name="rating" checked>
                                                            &nbsp;Good
                                                        </div>
                                                    </div>
                                                    <div class="buttons">
                                                        <button id='makereview' class="sqr-btn"
                                                            type="submit">Confirm</button>
                                                    </div>
                                                </form> <!-- end of review-form -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product details reviews end -->
                    </div>
                    <!-- product details wrapper end -->
                </div>
            </div>
        </div>
        <!-- page main wrapper end -->

        <!-- related product area start -->
        <section class="related-products">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2>Related Products</h2>
                            <p>You Might Like Them As Well!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-carousel--4 slick-row-15 slick-sm-row-10 slick-arrow-style">
                            {% for post in posts %}
                            <!-- product single item start -->
                            <div class="product-item">
                                <figure class="product-thumb">
                                    <a href="{{post.id}}">
                                        <img class="pri-img" src="../static/images/{{ post.img }}" alt="product">
                                        <img class="sec-img" src="../static/images/{{ post.img1 }}" alt="product">
                                    </a>
                                    <div class="product-badge">
                                        <div class="product-label new">
                                            <span>new</span>
                                        </div>
                                    </div>
                                    <div class="button-group">
                                        <a href="{{ url_for('index') }}"
                                            onclick='addLike({{ post.id }}, 1 ,"{{ post.name }}" )'
                                            data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i
                                                class="lnr lnr-heart"></i></a>
                                        <a href="#" data-toggle="modal" data-target="#quick_view"><span
                                                data-toggle="tooltip" data-placement="left" title="Quick View"><i
                                                    class="lnr lnr-magnifier"></i></span></a>
                                        <a href="{{ url_for('index') }}"
                                            onclick='addTrolley({{ post.id }}, 1 ,"{{ post.name }}" )'
                                            data-toggle="tooltip" data-placement="left" title="Add to Cart"><i
                                                class="lnr lnr-cart"></i></a>
                                    </div>
                                </figure>
                                <div class="product-caption">
                                    <p class="product-name">
                                        <a href="product-details.html" id="flowerName">{{ post.name }}</a>
                                    </p>
                                    <div class="price-box">
                                        <span class="price-regular">¥ {{ post.price }}</span>
                                        <span class="price-old"><del>¥ {{ post.price+10 }}</del></span>
                                    </div>
                                </div>
                            </div>
                            <!-- product single item end -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- related product area end -->
    </main>
    <!-- main wrapper end -->

    <!-- Start Footer Area Wrapper -->
    <footer class="footer-wrapper">

        <!-- footer widget area start -->
        <div class="footer-widget-area">
            <div class="container">
                <div class="footer-widget-inner section-space">
                    <div class="row mbn-30">
                        <!-- footer widget item start -->
                        <div class="col-lg-5 col-md-6 col-sm-8">
                            <div class="footer-widget-item mb-30">
                                <div class="footer-widget-title">
                                    <h5>Our account</h5>
                                </div>
                                <ul class="footer-widget-body accout-widget">
                                    <li class="address">
                                        <em><i class="lnr lnr-map-marker"></i></em>
                                        Beijing University of Technology
                                    </li>
                                    <li class="email">
                                        <em><i class="lnr lnr-envelope"></i>Mail us: </em>
                                        <a href="mailto:test@yourdomain.com">2240073347@qq.com</a>
                                    </li>
                                    <li class="phone">
                                        <em><i class="lnr lnr-phone-handset"></i> Phones: </em>
                                        <a href="tel:(012)800456789-987">0472-2134483</a>
                                    </li>
                                </ul>
                                <div class="payment-method">
                                    <img src="{{ url_for('static',filename='images/img/payment-pic.png') }}"
                                        alt="payment method">
                                </div>
                            </div>
                        </div>
                        <!-- footer widget item end -->

                        <!-- footer widget item start -->
                        <div class="col-lg-2 col-md-6 col-sm-4">
                            <div class="footer-widget-item mb-30">
                                <div class="footer-widget-title">
                                    <h5>categories</h5>
                                </div>
                                <ul class="footer-widget-body">
                                    <li><a href="#">Ecommerce</a></li>
                                    <li><a href="#">shopify</a></li>
                                    <li><a href="#">Prestashop</a></li>
                                    <li><a href="#">Opencart</a></li>
                                    <li><a href="#">Magento</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- footer widget item end -->


                        <!-- footer widget item start -->
                        <div class="col-lg-2 offset-lg-1 col-md-6 col-sm-6">
                            <div class="footer-widget-item mb-30">
                                <div class="footer-widget-title">
                                    <h5>Quick Links</h5>
                                </div>
                                <ul class="footer-widget-body">
                                    <li><a href="{{ url_for('index') }}">Home</a></li>
                                    <li><a href="{{ url_for('about_us') }}">About Us</a></li>
                                    <li><a href="{{ url_for('login') }}">Login</a></li>
                                    <li><a href="{{ url_for('signup') }}">Register</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- footer widget item end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- footer widget area end -->

        <!-- footer bottom area start -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 order-2 order-md-1">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2021.Group 15 Blizzard All rights reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6 order-1 order-md-2">
                        <div class="footer-social-link">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer bottom area end -->

    </footer>
    <!-- End Footer Area Wrapper -->

    <!-- Quick view modal start -->
    <div class="modal" id="quick_view">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- product details inner end -->
                    <div class="product-details-inner">
                        <div class="row">
                            <div class="col-lg-5 col-md-5">
                                <div class="product-large-slider">
                                    <div class="pro-large-img">
                                        <img src="../static/images/{{ flower.img }}" alt="product-details" />
                                    </div>
                                    <div class="pro-large-img">
                                        <img src="../static/images/{{ flower.img1 }}" alt="product-details" />
                                    </div>
                                    <div class="pro-large-img">
                                        <img src="{{ url_for('static',filename='images/img/product/product-details-img3.jpg') }}"
                                            alt="product-details" />
                                    </div>
                                    <div class="pro-large-img">
                                        <img src="{{ url_for('static',filename='images/img/product/product-details-img4.jpg') }}"
                                            alt="product-details" />
                                    </div>
                                </div>
                                <div class="pro-nav slick-row-10 slick-arrow-style">
                                    <div class="pro-nav-thumb">
                                        <img src="../static/images/{{ flower.img }}" alt="product-details" />
                                    </div>
                                    <div class="pro-nav-thumb">
                                        <img src="../static/images/{{ flower.img1 }}" alt="product-details" />
                                    </div>
                                    <div class="pro-nav-thumb">
                                        <img src="{{ url_for('static',filename='images/img/product/product-details-img3.jpg') }}"
                                            alt="product-details" />
                                    </div>
                                    <div class="pro-nav-thumb">
                                        <img src="{{ url_for('static',filename='images/img/product/product-details-img4.jpg') }}"
                                            alt="product-details" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7">
                                <div class="product-details-des quick-details">
                                    <h3 class="product-name" id="flowerName">Orchid flower white stick</h3>
                                    <div class="ratings d-flex">
                                        <span><i class="lnr lnr-star"></i></span>
                                        <span><i class="lnr lnr-star"></i></span>
                                        <span><i class="lnr lnr-star"></i></span>
                                        <span><i class="lnr lnr-star"></i></span>
                                        <span><i class="lnr lnr-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Reviews</span>
                                        </div>
                                    </div>
                                    <div class="price-box">
                                        <span class="price-regular">$70.00</span>
                                        <span class="price-old"><del>$90.00</del></span>
                                    </div>
                                    <h5 class="offer-text"><strong>Hurry up</strong>! offer ends in:</h5>
                                    <div class="product-countdown" data-countdown="2019/08/25"></div>
                                    <div class="availability">
                                        <i class="fa fa-check-circle"></i>
                                        <span>200 in stock</span>
                                    </div>
                                    <p class="pro-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                        diam
                                        nonumy
                                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                                    <div class="quantity-cart-box d-flex align-items-center">
                                        <h5>qty:</h5>
                                        <div class="quantity">
                                            <div class="pro-qty"><input type="text" value="1" id="number_input"></div>
                                        </div>
                                        <div class="action_link">
                                            <a class="btn btn-cart2" onclick="addTrolley1(100)"
                                                href="{{ url_for('index') }}">{{ _('Add to cart') }}</a>
                                        </div>
                                    </div>
                                    <div class="useful-links">
                                        <a href="#" data-toggle="tooltip" title="Compare"><i
                                                class="lnr lnr-sync"></i>compare</a>
                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i
                                                class="lnr lnr-heart"></i>wishlist</a>
                                    </div>
                                    <div class="like-icon">
                                        <a class="facebook" href="#"><i class="fa fa-facebook"></i>like</a>
                                        <a class="twitter" href="#"><i class="fa fa-twitter"></i>tweet</a>
                                        <a class="pinterest" href="#"><i class="fa fa-pinterest"></i>save</a>
                                        <a class="google" href="#"><i class="fa fa-google-plus"></i>share</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- product details inner end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Quick view modal end -->

    <!-- offcanvas search form start -->
    <div class="offcanvas-search-wrapper">
        <div class="offcanvas-search-inner">
            <div class="offcanvas-close">
                <i class="lnr lnr-cross"></i>
            </div>
            <div class="container">
                <div class="offcanvas-search-box">
                    <form class="d-flex bdr-bottom w-100">
                        <input type="text" placeholder="Search entire storage here...">
                        <button class="search-btn"><i class="lnr lnr-magnifier"></i>search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- offcanvas search form end -->

    <!-- offcanvas mini like start -->
    <div class="offcanvas-minicart-wrapper">
        <div class="minicart-inner" id="like">
            <div class="offcanvas-overlay"></div>
            <div class="minicart-inner-content">
                <div class="minicart-close">
                    <i class="lnr lnr-cross"></i>
                </div>
                <div class="minicart-content-box">
                    <div class="minicart-item-wrapper">
                        {% for basket in basketslike %}
                        {% for item in posts %}
                        {% if item.id==basket.flower_id %}
                        <ul id="{{ 'fuck1'+basket.id|string }}">
                            <li class="minicart-item">
                                <div class="minicart-thumb">
                                    <a href="{{ url_for('detail',id=item.id) }}">
                                        <img src="../static/images/{{ item.img }}" alt="product">
                                    </a>
                                </div>
                                <div class="minicart-content">
                                    <h3 class="product-name">
                                        <a href="{{ url_for('detail',id=item.id) }}">{{ item.name }}</a>
                                    </h3>
                                </div>
                                <a class="minicart-remove" onclick="RemoveBasketlike({{ basket.id }})" href="#"><i
                                        class="lnr lnr-cross"></i></a>
                            </li>
                        </ul>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </div>

                    <div class="minicart-pricing-box">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- offcanvas mini like end -->

    <!-- offcanvas mini cart start -->
    <div class="offcanvas-minicart-wrapper">
        <div class="minicart-inner">
            <div class="offcanvas-overlay"></div>
            <div class="minicart-inner-content">
                <div class="minicart-close">
                    <i class="lnr lnr-cross"></i>
                </div>
                <div class="minicart-content-box">
                    <div class="minicart-item-wrapper">
                        {% for basket in baskets %}
                        {% for item in posts %}
                        {% if item.id==basket.flower_id %}
                        <ul id="{{ 'fuck'+basket.id|string }}">
                            <li class="minicart-item">
                                <div class="minicart-thumb">
                                    <a href="{{ url_for('detail',id=item.id) }}">
                                        <img src="../static/images/{{ item.img }}" alt="product">
                                    </a>
                                </div>
                                <div class="minicart-content">
                                    <h3 class="product-name">
                                        <a href="{{ url_for('detail',id=item.id) }}">{{ item.name }}</a>
                                    </h3>
                                    <p>
                                        <span class="cart-quantity">{{ basket.quantity }}<strong>&times;</strong></span>
                                        <span class="cart-price">{{ basket.total }}</span>
                                    </p>
                                </div>
                                <a class="minicart-remove" onclick="RemoveBasket({{ basket.id }})" href="#"><i
                                        class="lnr lnr-cross"></i></a>
                            </li>
                        </ul>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </div>

                    <div class="minicart-pricing-box">
                        <ul>
                            <li class="total">
                                <span>{{ _('Total') }}</span>
                                <span><strong>${{ total }}</strong></span>
                            </li>
                        </ul>
                    </div>

                    <div class="minicart-button">
                        <a href="#"><i class="fa fa-shopping-cart"></i> {{ _('view cart') }}</a>
                        <a href="{{ url_for('checkout') }}"><i class="fa fa-share"></i>{{ _('checkout') }} </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- offcanvas mini cart end -->

    <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- Scroll to Top End -->

    <!-- All vendor & plugins & active js include here -->
    <!--All Vendor Js -->
    <script src="{{ url_for('static',filename='scripts/vendor.js') }}"></script>
    <!-- Active Js -->
    <script src="{{ url_for('static',filename='scripts/active.js') }}"></script>
    <!-- 评论 -->
    <script src="{{ url_for('static',filename='scripts/review.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/shop.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/index1.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/index2.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/indexadd.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/indexlike.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/indexremovelike.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/megapix-image.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/megapix-image.test.js') }}"></script>
</body>

</html>