<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <title>ChatRoom</title>
    <meta charset="UTF-8"/>
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="18206122 Yan Geng"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="meta description">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/static/css/unicorn.main.css"/>
    <link rel="stylesheet" href="/static/css/unicorn.grey.css" class="skin-color"/>
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/img/favicon.ico') }}" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,900%7CYesteryear"
          rel="stylesheet">

    <!-- All Vendor & plugins CSS include -->
    <link href="{{ url_for('static',filename='css/vendor.css') }}" rel="stylesheet">
    <!-- Main Style CSS -->
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script>
            $(document).on('click', '.locale', function () {
                var val = $(this).attr('data-value');
                $.ajax({
                    url: val,
                    type: 'GET',
                    success: function (ret) {
                        console.log(ret);
                        location.reload();
                    }
                })
            });
    </script>
</head>
<body class="chatroom">

<!-- Start Header Area -->
<header class="header-area">
    <!-- main header start -->
    <div class="main-header d-none d-lg-block">
        <!-- header top start -->
        <div class="header-top bdr-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="welcome-message">
                            <p>{{ _('Welcome to Blizzard Online Flower Store') }}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                        <div class="header-top-settings">
                            <ul class="nav align-items-center justify-content-end">
                                <li class="language">
                                    <span>{{ _('Language:') }}</span>
                                    <img src="{{ url_for('static',filename='images/img/icon/en.png') }}" alt="flag">
                                    {{ _('English') }}
                                    <i class="fa fa-angle-down"></i>
                                    <ul class="dropdown-list">
                                        <li>
                                            <a class="locale " id="zh" data-value="{{ url_for('set_locale', locale='en') }}">
                                                <img src="{{ url_for('static',filename='images/img/icon/en.png') }}" alt="flag">
                                                {{ _('English') }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="locale " id="en" data-value="{{ url_for('set_locale', locale='zh') }}">
                                                <img src="{{ url_for('static',filename='images/img/icon/ch.png') }}" alt="flag">
                                                {{ _('Chinese') }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="curreny-wrap">
                                    <span>{{ _('Currency:') }}</span>
                                    ¥ CNY
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header top end -->

               <!-- header middle area start -->
        <div class="header-main-area sticky">
            <div class="container">
                <div class="row align-items-center position-relative">

                    <!-- start logo area -->
                    <div class="col-lg-3">
                        <div class="logo">
                            <a href="{{ url_for('index') }}">
                                <img src="{{ url_for('static',filename='images/img/icon/logo.png') }}" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- start logo area -->

                    <!-- main menu area start -->
                    <div class="col-lg-6 position-static">
                        <div class="main-menu-area">
                            <div class="main-menu">
                                <!-- main menu navbar start -->
                                <nav class="desktop-menu">
                                    <ul>
                                        <li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
                                        <li><a href="{{ url_for('shop') }}">{{ _('Shop') }}</a></li>
                                        <li><a href="{{ url_for('onlinechat') }}">{{ _('Contact_Us') }}</a></li>
                                        <li><a href="{{ url_for('about_us') }}">{{ _('About_Us') }}</a></li>
                                    </ul>
                                </nav>
                                <!-- main menu navbar end -->
                            </div>
                        </div>
                    </div>
                    <!-- main menu area end -->

                    <!-- mini cart area start -->
                    <div class="col-lg-3">
                        <div class="header-configure-wrapper">
                            <div class="header-configure-area">
                                <ul class="nav justify-content-end">
                                    <li>
                                        <a href="#" class="offcanvas-btn">
                                            <i class="lnr lnr-magnifier"></i>
                                        </a>
                                    </li>
                                    <li class="user-hover">
                                        <a href="#">
                                            <i class="lnr lnr-user"></i>
                                        </a>
                                        <ul class="dropdown-list">
                                            <li><a href="{{ url_for('login') }}">{{ _('login') }}</a></li>
                                            <li><a href="{{ url_for('signup') }}">{{ _('register') }}</a></li>
                                            <li><a href="{{ url_for('profile') }}">{{ _('my account') }}</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="minicart-btn1">
                                            <i class="lnr lnr-heart"></i>
                                            <div class="notification" id="length1">{{ lengthlike }}</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="minicart-btn">
                                            <i class="lnr lnr-cart"></i>
                                            <div class="notification" id="length">{{ length }}</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- mini cart area end -->

                </div>
            </div>
        </div>
        <!-- header middle area end -->
    </div>
    <!-- main header start -->

    <!-- mobile header start -->
    <div class="mobile-header d-lg-none d-md-block sticky">
        <!--mobile header top start -->
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="mobile-main-header">
                        <div class="mobile-logo">
                            <a href="{{ url_for('index') }}">
                                <img src="{{ url_for('static',filename='images/img/icon/logo.png') }}" alt="Brand Logo">
                            </a>
                        </div>
                        <div class="mobile-menu-toggler">
                            <div class="mini-cart-wrap1">
                                <a href="#">
                                    <i class="lnr lnr-heart"></i>
                                </a>
                            </div>
                            <div class="mini-cart-wrap">
                                <a href="#">
                                    <i class="lnr lnr-cart"></i>
                                </a>
                            </div>
                            <div class="mobile-menu-btn">
                                <div class="off-canvas-btn">
                                    <i class="lnr lnr-menu"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile header top start -->
    </div>
    <!-- mobile header end -->
</header>
<!-- end Header Area -->

<!-- off-canvas menu start -->
<aside class="off-canvas-wrapper">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner-content">
        <div class="btn-close-off-canvas">
            <i class="lnr lnr-cross"></i>
        </div>

        <div class="off-canvas-inner">
            <!-- search box start -->
            <div class="search-box-offcanvas">
                <form>
                    <input type="text" placeholder="Search Here...">
                    <button class="search-btn"><i class="lnr lnr-magnifier"></i></button>
                </form>
            </div>
            <!-- search box end -->

            <!-- mobile menu start -->
            <div class="mobile-navigation">

                <!-- mobile menu navigation start -->
                <nav>
                    <ul class="mobile-menu">
                        <li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
                        <li><a href="{{ url_for('shop') }}">{{ _('Shop') }}</a></li>
                        <li><a href="{{ url_for('onlinechat') }}">{{ _('Contact_Us') }}</a></li>
                        <li><a href="{{ url_for('about_us') }}">{{ _('About_Us') }}</a></li>
                    </ul>
                </nav>
                <!-- mobile menu navigation end -->
            </div>
            <!-- mobile menu end -->

            <div class="mobile-settings">
                <ul class="nav">
                    <li>
                        <div class="dropdown mobile-top-dropdown">
                            <a href="#" class="dropdown-toggle" id="currency" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                {{ _('Currency') }}
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="currency">
                                <a class="dropdown-item" href="#">$ USD</a>
                                <a class="dropdown-item" href="#">$ EURO</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown mobile-top-dropdown">
                            <a href="#" class="dropdown-toggle" id="myaccount" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                {{ _('My Account') }}
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="myaccount">
                                <a class="dropdown-item" href="{{ url_for('profile') }}">{{ _('my account') }}</a>
                                <a class="dropdown-item" href="{{ url_for('login') }}">{{ _('login') }}</a>
                                <a class="dropdown-item" href="{{ url_for('signup') }}">{{ _('register') }}</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- offcanvas widget area start -->
            <div class="offcanvas-widget-area">
                <div class="off-canvas-contact-widget">
                    <ul>
                        <li><i class="fa fa-mobile"></i>
                            <a href="#">0123456789</a>
                        </li>
                        <li><i class="fa fa-envelope-o"></i>
                            <a href="#">info@yourdomain.com</a>
                        </li>
                    </ul>
                </div>
                <div class="off-canvas-social-widget">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>
            <!-- offcanvas widget area end -->
        </div>
    </div>
</aside>
<!-- off-canvas menu end -->

<!-- offcanvas mini like start -->
<div class="offcanvas-minicart-wrapper">
    <div class="minicart-inner" id="like">
        <div class="offcanvas-overlay"></div>
        <div class="minicart-inner-content">
            <div class="minicart-close">
                <i class="lnr lnr-cross"></i>
            </div>
            <div class="minicart-content-box">
                <div class="minicart-item-wrapper">
                    {% for basket in basketslike %}
                        {% for item in posts %}
                            {% if item.id==basket.flower_id %}
                                <ul id="{{ 'fuck1'+basket.id|string }}">
                                    <li class="minicart-item">
                                        <div class="minicart-thumb">
                                            <a href="#">
                                                <img src="static/images/{{ item.img }}"
                                                     alt="product">
                                            </a>
                                        </div>
                                        <div class="minicart-content">
                                            <h3 class="product-name">
                                                <a href="#">{{ item.name }}</a>
                                            </h3>
                                        </div>
                                        <a class="minicart-remove" onclick="RemoveBasketlike({{ basket.id }})" href="#"><i
                                                class="lnr lnr-cross"></i></a>
                                    </li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>

                <div class="minicart-pricing-box">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- offcanvas mini like end -->

<!-- offcanvas mini cart start -->
<div class="offcanvas-minicart-wrapper">
    <div class="minicart-inner">
        <div class="offcanvas-overlay"></div>
        <div class="minicart-inner-content">
            <div class="minicart-close">
                <i class="lnr lnr-cross"></i>
            </div>
            <div class="minicart-content-box">
                <div class="minicart-item-wrapper">
                    {% for basket in baskets %}
                        {% for item in posts %}
                            {% if item.id==basket.flower_id %}
                                <ul id="{{ 'fuck'+basket.id|string }}">
                                    <li class="minicart-item">
                                        <div class="minicart-thumb">
                                            <a href="#">
                                                <img src="static/images/{{ item.img }}"
                                                     alt="product">
                                            </a>
                                        </div>
                                        <div class="minicart-content">
                                            <h3 class="product-name">
                                                <a href="#">{{ item.name }}</a>
                                            </h3>
                                            <p>
                                                <span class="cart-quantity">{{ basket.quantity }}<strong>&times;</strong></span>
                                                <span class="cart-price">{{ basket.total }}</span>
                                            </p>
                                        </div>
                                        <a class="minicart-remove" onclick="RemoveBasket({{ basket.id }})" href="#"><i
                                                class="lnr lnr-cross"></i></a>
                                    </li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>

                <div class="minicart-pricing-box">
                    <ul>
                        <li class="total">
                            <span>{{ _('Total') }}</span>
                            <span id="total"><strong>${{ total }}</strong></span>
                        </li>
                    </ul>
                </div>

                <div class="minicart-button">
                    <a href="#"><i class="fa fa-shopping-cart"></i> {{ _('view cart') }}</a>
                    <a href="{{ url_for('checkout') }}"><i class="fa fa-share"></i>{{ _('checkout') }} </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- offcanvas mini cart end -->

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="alert alert-success">{{ _('This is an example of support chat. Feel free to write something.') }}<a
                    href="#" class="close" data-dismiss="alert">×</a></div>
            <div class="widget-box widget-chat">
                <div class="widget-title">
								<span class="icon">
									<i class="icon-comment"></i>
								</span>
                    <h5>{{ _('Support chat') }}</h5>
                </div>
                <div class="widget-content nopadding">
                    <div class="chat-content panel-left">
                        <div class="chat-messages" id="chat-messages">
                            <div id="chat-messages-inner"></div>
                        </div>
                        <div class="chat-message well">
                            <button class="btn btn-success">{{ _('Send') }}</button>
                            <span class="input-box">
											<input type="text" name="msg-box" id="msg-box"/>
										</span>
                        </div>
                    </div>
                    <div class="chat-users panel-right">
                        <div class="panel-title"><h5>{{ _('Staff') }}</h5></div>
                        <div class="panel-content nopadding">
                            <ul class="contact-list">
                                {% for new in news %}
                                    {% if new.number == 0 %}
                                        <li id="{{ new.sender_id }}" class="online"><a href="#"><img
                                                class="/static/images/{{ img }}"
                                                alt="/static/images/{{ new.profile.portrait }}"
                                                src="/static/images/{{ new.profile.portrait }}"/>
                                            <span>{{ new.profile.name }}</span></a></li>
                                    {% else %}
                                        <li id="{{ new.sender_id }}" class="online"><a href="#"><img
                                                class="/static/images/{{ img }}"
                                                alt="/static/images/{{ new.profile.portrait }}"
                                                src="/static/images/{{ new.profile.portrait }}"/>
                                            <span>{{ new.profile.name }}</span></a><span
                                                class="msg-count badge badge-info">{{ new.number }}</span></li>
                                    {% endif %}
                                {% endfor %}
                                <li id="myicon" class="/static/images/{{ img }}" style="display: none"></li>
                                <!-- 隐藏元素用于存自己的头像 -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div id="footer" class="span12">
            2021 &copy; Blizzard.
        </div>
    </div>
</div>
<!-- Start Footer Area Wrapper -->
<footer class="footer-wrapper">

    <!-- footer widget area start -->
    <div class="footer-widget-area">
        <div class="container">
            <div class="footer-widget-inner section-space">
                <div class="row mbn-30">
                    <!-- footer widget item start -->
                    <div class="col-lg-5 col-md-6 col-sm-8">
                        <div class="footer-widget-item mb-30">
                            <div class="footer-widget-title">
                                <h5>{{ _('Our account') }}</h5>
                            </div>
                            <ul class="footer-widget-body accout-widget">
                                <li class="address">
                                    <em><i class="lnr lnr-map-marker"></i></em>
                                    {{ _('Beijing University of Technology') }}
                                </li>
                                <li class="email">
                                    <em><i class="lnr lnr-envelope"></i>{{ _('Mail us') }}: </em>
                                    <a href="mailto:test@yourdomain.com">2240073347@qq.com</a>
                                </li>
                                <li class="phone">
                                    <em><i class="lnr lnr-phone-handset"></i> {{ _('Phones') }}: </em>
                                    <a href="tel:(012)800456789-987">0472-2134483</a>
                                </li>
                            </ul>
                            <div class="payment-method">
                                <img src="{{ url_for('static',filename='images/img/payment-pic.png') }}"
                                     alt="payment method">
                            </div>
                        </div>
                    </div>
                    <!-- footer widget item end -->

                    <!-- footer widget item start -->
                    <div class="col-lg-2 col-md-6 col-sm-4">
                        <div class="footer-widget-item mb-30">
                            <div class="footer-widget-title">
                                <h5>{{ _('More Aout Us') }}</h5>
                            </div>
                            <ul class="footer-widget-body">
                                <li><a href="{{ url_for('onlinechat') }}">{{ _('Contact Us') }}</a></li>
                                <li><a href="{{ url_for('about_us') }}">{{ _('About Us') }}</a></li>
                                <li><a href="{{ url_for('shop') }}">{{ _('Shop') }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer widget item end -->


                    <!-- footer widget item start -->
                    <div class="col-lg-2 offset-lg-1 col-md-6 col-sm-6">
                        <div class="footer-widget-item mb-30">
                            <div class="footer-widget-title">
                                <h5>{{ _('Quick Links') }}</h5>
                            </div>
                            <ul class="footer-widget-body">
                                <li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
                                <li><a href="{{ url_for('login') }}">{{ _('Login') }}</a></li>
                                <li><a href="{{ url_for('signup') }}">{{ _('Register') }}</a></li>
                                <li><a href="{{ url_for('profile') }}">{{ _('Account') }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer widget item end -->
                </div>
            </div>
        </div>
    </div>
    <!-- footer widget area end -->


    <!-- footer bottom area start -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2 order-md-1">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2021.{{ _('Group 15 Blizzard All rights reserved.') }}</p>
                    </div>
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <div class="footer-social-link">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer bottom area end -->

</footer>
<!-- End Footer Area Wrapper -->


<!-- Scroll to top start -->
<div class="scroll-top not-visible">
    <i class="fa fa-angle-up"></i>
</div>
<!-- Scroll to Top End -->

<!-- All vendor & plugins & active js include here -->
<!--All Vendor Js -->
<script src="{{ url_for('static',filename='scripts/vendor.js') }}"></script>
<!-- Active Js -->
<script src="{{ url_for('static',filename='scripts/active.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/index.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/index1.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/index2.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/jquery.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/indexadd.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/indexlike.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/indexremovelike.js') }}"></script>
<style>
    .copyrights {
        text-indent: -9999px;
        height: 0;
        line-height: 0;
        font-size: 0;
        overflow: hidden;
    }
</style>
<div class="copyrights" id="links20210126">
    Collect from <a href="http://www.cssmoban.com/" title="网站模板">模板之家</a>
    <a href="https://www.chazidian.com/" title="查字典">查字典</a>
</div>

<script src="../static/scripts/jquery-1.8.2.min.js"></script>
<script src="../static/scripts/jquery.js"></script>
<script src="../static/scripts/jquery.ui.custom.js"></script>
<script src="../static/scripts/bootstrap.min.js"></script>
<script src="../static/scripts/unicorn.js"></script>
<script src="../static/scripts/unicorn.chat.js"></script>
</body>
</html>
