{% extends "baseLogged.html" %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='scripts/profile.css') }}">
    <script src="{{ url_for('static',filename='scripts/profile.js') }}"></script>
    <div class="personal">
        <img src="{{ url_for('static',filename=profile.portrait) }}" alt="">
        <h1>Personal Profile</h1>
        <table>
            <tr>
                <td>Username: </td>
                <td>          </td>
                <td class="center">{{ user.username }}</td>
            </tr>
            <tr>
                <td>Full Name: </td>
                <td>          </td>
                <td class="center">{{ profile.name }}</td>
            </tr>
            <tr>
                <td>Gender: </td>
                <td>          </td>
                <td class="center">
                    {% if profile.gender=="0" %}
                        Male
                    {% else %}
                        Female
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Date of Birth: </td>
                <td>          </td>
                <td class="center">{{ profile.dob }}</td>
            </tr>
            <tr>
                <td>Email Address: </td>
                <td>          </td>
                <td class="center">{{ user.email }}</td>
            </tr>
            <tr>
                <td>Description: </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="center" id="left">{{ profile.description }}</td>
            </tr>

        </table>
        <div class="side">
            <div id="inv">
                <span class="index">My Invitations</span>
                <div id="inv-detail" class="detail">
                    {% if my_invitation %}
                        <ul>
                            {% for invitation in my_invitation %}
                            <li>{{ invitation.headline }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <span style="color: red">No Invitation Found</span>
                    {% endif %}
                </div>
            </div>
            <div id="disc">
                <span class="index">My Discussions</span>
                <div id="disc-detail" class="detail">
                    {% if my_discussion %}
                        <ul>
                            {% for discussion in my_discussion %}
                                <li>{{ discussion.headline }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                         <span style="color: red">No Discussion Found</span>
                    {% endif %}
                </div>
            </div>
            <div id="like_discussion">
                <span class="index">Liked Discussion</span>
                <div id="liked-dis-detail" class="detail">
                    {% if liked_discussion %}
                        <ul>
                            {% for discussion in liked_discussion %}
                                <li>{{ discussion.headline }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                         <span style="color: red">No Liked Discussion Found</span>
                    {% endif %}
                </div>
            </div>
            <div id="like_post">
                <span class="index">Liked Posts</span>
                <div id="liked-post-detail" class="detail">
                    {% if liked_post %}
                        <ul>
                            {% for post in liked_post %}
                                <li>{{ post.content }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                         <span style="color: red">No Liked Discussion Found</span>
                    {% endif %}
                </div>
            </div>
            <div id="join">
                <span class="index">Joined Invitation</span>
                <div id="join-detail" class="detail">
                    {% if joined %}
                        <ul>
                            {% for j in joined %}
                                <li>{{ j.headline }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                         <span style="color: red">No Liked Discussion Found</span>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}