
<div id="sidebar">
    <ul>
        <li id="addFlower">
            <a href="{{ url_for('addflower') }}"><i class="icon icon-plus-sign"></i> <span>{{ _('Add Flower') }}</span></a>
        </li>

        <li id="ODSide">
            <a href="{{ url_for('OrderDisplay') }}"><i class="icon icon-th"></i> <span>{{ _('Order Table') }}</span></a>
        </li>
        <li id="ODetail">
            <a href="{{ url_for('OrderDisplay') }}"
               onclick="{if(confirm('Please choose one order from the table first, then go to modify it')){}}">
                <i class="icon icon-file"></i> <span>{{ _('Order Detail') }}</span></a>
        </li>
        <li id="ModOrder">
            <a href="{{ url_for('OrderDisplay') }}"
               onclick="{if(confirm('Please choose one order from the table first, then go to modify it')){}}"><i class="icon icon-refresh"></i>
                <span>{{ _('Modify Order') }}</span></a>
        </li>

        <li id="ChatRoom">
            <a href="{{ url_for('ChatRoom') }}"><i class="icon icon-comment"></i> <span>{{ _('Chatroom') }}</span></a>
        </li>

        <li id="Flowers">
            <a href="{{ url_for('Flowers') }}"><i class="icon icon-folder-open"></i> <span>{{ _('Commodity Table') }}</span></a>
        </li>
        <li id="ModFlower">
            <a href="{{ url_for('Flowers') }}"
               onclick="{if(confirm('Please choose a flower from the Gallery to modify it')){}}"><i
                    class="icon icon-repeat"></i> <span>{{ _('Modify Commodity') }}</span></a>
        </li>


        <li id="ChartSide">

            <a href="{{ url_for('Charts') }}"><i class="icon icon-signal"></i> <span>{{ _('Charts') }}</span></a>


        </li>


    </ul>

</div>


{% block after %}{% endblock %}